{% extends "base.html" %} {% block content %}
<div class="container">
  <form action="{% url 'translator_view' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6 mt-3 left">
        <textarea
          class="form-control"
          placeholder="English"
          aria-label="English"
          rows="3"
        ></textarea>
      </div>
      <div class="col-md-6 mt-3 left">
        <textarea
          class="form-control"
          placeholder="German"
          aria-label="German"
          rows="3"
        ></textarea>
      </div>
      <div class="col-12 text-center mt-4">
        <button type="submit" class="btn btn-primary">Translate</button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
